<!DOCTYPE html>
<html>
<head>
    <title>Thanks </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Thank You for registering</p>

<a href="/downloadsheet"><button id ="download">Download List</button></a>
<div class="status">hello</div>

</form>

<!--<script>-->
    <!--$("#download").click(function(e){-->
        <!--e.preventDefault();-->
        <!--console.log("Ajax called");-->
        <!--$.ajax({-->
            <!--method: "POST",-->
            <!--url: "downloadsheet",-->
            <!--success: function(data) {-->
                <!--$(".status").html(data.logInStatus);-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->

</body>
</html>