<!DOCTYPE html>
<html>
<head>
    <title>Thanks </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h1>Thank you for registering</h1>
<h2><small>You will be contacted soon</small></h2>

<a href="/downloadsheet"><button class="btn btn-primary"id ="download">Download List</button></a>
</div>

</body>
</html>
