<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
          var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth() + 1;
          var yyyy = today.getFullYear();
          if(dd < 10)
          {
            dd = '0' + dd;
          }
          if(mm < 10)
          {
            mm = '0' + mm;
          }
          var currentdate = yyyy + '-' + mm + '-' + dd;
          document.getElementById('date').setAttribute("max", currentdate);
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <!-- <div class="navbar-header">
            <a class="navbar-brand" href='#'>
              <img alt="Brand" src="../public/images/BITS_Pilani-Logo.sv.png"/>
          </div> -->
          <li><a href='http://universe.bits-pilani.ac.in/index.aspx'  target='_blank'>University Home</a></li>
          <li><a href='http://universe.bits-pilani.ac.in/Goa/admissions/home' target='_blank'>Admissions</a></li>
          <li><a href='http://www.bitsadmission.com/'  target='_blank'>BITSAT</a></li>
          <li><a href='http://www.bits-goa.ac.in/Library/Index.aspx' target='_blank'>Library</a></li>
          <li><a href='http://alumniaffairs.bits-goa.ac.in/' target='_blank'>Alumni </a></li>
          <li><a href='https://mail.google.com/'  target='_blank'>BITS Mail</a></li>
       </ul>
      </div>
    </nav>
  <div align="center">
    <h1 align="center">Non Teaching Staff Recruitment</h1>
    <h2><small>Fill the following details :</small></h2>
    <h4><small>Fields marked with * are mandatory. Use Chrome for best results.</small></h4>
  <div class="container">
    <form id="recruitment-form" action="/applied" enctype="multipart/form-data" method="post" data-toggle="validator" role="form">

      <div class="col-md-4">
      <div class="form-group">
      <label for="name" class="control-label">Name*</label>
      <input class="form-control" type="text" name="name" id="name" required/>
      </div>
      </div>

      <div class="col-md-4">
      <div class="form-group">
      <label for="location" class="control-label">Location*</label>
      <input class="form-control" type="text" name="location" id="location" required/>
      </div>
      </div>

      <div class="col-md-4">
      <div class="form-group has-feedback">
      <label for="phoneno" class="control-label">Phone Number*</label>
      <div class="input-group">
      <span class="input-group-addon">+91</span>
      <input class="form-control" type="text" name="phoneno" id="phoneno"
            pattern="^[0-9]{10}$" data-pattern-error="10 digit number required" required/>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="help-block with-errors"></div>
      </div>
      </div>

      <div class="col-md-4">
      <div class="col-md-4">
        <div class="form-group has-feedback">
        <label for="stdno" class="control-label">STD Code</label>
        <input class="form-control" type="text" name="stdno" id="stdno"
              pattern="^[0-9]*$" data-pattern-error="Valid number required"/>
        <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group has-feedback">
        <label for="landline" class="control-label">Landline</label>
        <input class="form-control" type="text" name="landline" id="landline"
                pattern="^[0-9]*$" data-pattern-error="Valid number required"/>
        <div class="help-block with-errors"></div>
        </div>
      </div>
      </div>

      <br><br>

      <div class="col-md-4">
      <div class="form-group has-feedback">
      <label for="email" class="control-label">Email*</label>
      <div class="input-group">
      <span class="input-group-addon">@</span>
      <input class="form-control" type="email" name="email" id="email"
             data-error="Invalid email address" required>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="help-block with-errors"></div>
      </div>
      </div>

      <div class="col-md-4">
      <div class="form-group">
        <label for="date" class="control-label">Date of Birth*</label>
      <input class="form-control" id="date" name="date" type="date" min="1930-01-01" required="required"/>
      </div>
      </div>

      <div class="col-md-4">
      <div class="form-group">
        <label for="qualification" class="control-label">Qualification*</label>
      <input class="form-control" type="text" name="qualification" id="qualification" required/>
      </div>
      </div>

      <br><br>

      <div class="col-md-4">
      <div class="form-group has-feedback">
        <label for="experience" class="control-label">Experience*</label>
      <div class="input-group">
      <input class="form-control" type="text" name="experience" id="experience"
             pattern="^[0-9]*$" data-pattern-error="Valid number required" required/>
      <span class="input-group-addon">Years</span>
      </div>
      <div class="help-block with-errors"></div>
      </div>
      </div>

      <div class="col-md-4">
      <div class="form-group">
        <label for="currentemployer" class="control-label">Current Employer</label>
      <input class="form-control" type="text" name="currentemployer" id="currentemployer"/>
      </div>
      </div>

      <div class="col-md-4">
      <div class="form-group">
        <label for="designation" class="control-label">Designation</label>
      <input class="form-control" type="text" name="designation" id="designation"/>
      </div>
      </div>

      <br><br>

      <div class="col-md-4">
      <div class="form-group has-feedback">
      <label for="lsw" class="control-label">Last Salaray Withdrawn</label>
      <div class="input-group">
      <span class="input-group-addon">Rs.</span>
      <input class="form-control" type="text" name="lsw" id="lsw"
             pattern="^[0-9]*$" data-pattern-error="Valid number required"/>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="help-block with-errors"></div>
      </div>
      </div>

      <div class="col-md-4">
      <div class="form-group has-feedback">
      <label for="expectedsalary" class="control-label">Expected Monthly Salary*</label>
      <div class="input-group">
      <span class="input-group-addon">Rs.</span>
      <input class="form-control" type="text" name="expectedsalary" id="expectedsalary"
             pattern="^[0-9]{5,6}$" data-pattern-error="5 to 6 digit number required" required/>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="help-block with-errors"></div>
      </div>
      </div>

      <div class="col-md-4">
      <div class="form-group">
        <label for="remarks" class="control-label">Remarks</label>
      <textarea class="form-control" type="text" name="remarks" id="remarks">Any other remarks?</textarea>
      </div>
      </div>

      <div class="col-md-4">
      <label for="file" class="control-label">Upload Photo*</label>
      <input type="file" name="file" required></input>
      </div>

      <div class="col-md-4">
      <br><br>
      <input class="btn btn-success" type="submit" id="apply" value="Submit"/>
      </div>

    </form>
  </div>
  <br>
  <div class="alert alert-info" role="alert"><strong>Attention!</strong> Please fill all fields correctly, cannot edit after submitting!</div>
  </div>
  </body>
</html>
