<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <!-- <div class="navbar-header">
            <a class="navbar-brand" href='#'>
              <img alt="Brand" src="../public/images/BITS_Pilani-Logo.sv.png"/>
          </div> -->
          <li><a href='http://universe.bits-pilani.ac.in/index.aspx'  target='_blank'>University Home</a></li>
          <li><a href='http://universe.bits-pilani.ac.in/Goa/admissions/home' target='_blank'>Admissions</a></li>
          <li><a href='http://www.bitsadmission.com/'  target='_blank'>BITSAT</a></li>
          <li><a href='http://www.bits-goa.ac.in/Library/Index.aspx' target='_blank'>Library</a></li>
          <li><a href='http://alumniaffairs.bits-goa.ac.in/' target='_blank'>Alumni </a></li>
          <li><a href='https://mail.google.com/'  target='_blank'>BITS Mail</a></li>
       </ul>
      </div>
    </nav>
  <div align="center">
    <h1 align="center">Non Teaching Staff Recruitment</h1>
    <h2><small>Fill the following details :</small></h2>
  <div class="container">
    <form action="/applied" enctype="multipart/form-data" method="post">

      <div class="col-md-4">
      <input class="form-control" type="text" name="name" id="name"
             placeholder="Name" required="required"/>
      </div>
      <div class="col-md-4">
      <input class="form-control" type="text" name="location" id="location"
             placeholder="Location" required="required"/>
      </div>
      <div class="col-md-4">
      <input class="form-control" type="text" name="phoneno" id="phoneno"
             placeholder="Phone No." required="required"/>
      </div>
      <br><br>

      <div class="col-md-4">
      <div class="input-group">
      <span class="input-group-addon">@</span>
      <input class="form-control" type="text" name="email" id="email"
             placeholder="Email" required="required" aria-describedby="inputGroupSuccess4Status"/>
      </div>
      </div>
      <div class="col-md-4">
      <input class="form-control" type="text" name="dob" id="dob"
             placeholder="Date of Birth" required="required"/>
      </div>
      <div class="col-md-4">
      <input class="form-control" type="text" name="qualification" id="qualification"
             placeholder="Qualification" required="required"/>
      </div>
      <br><br>

      <div class="col-md-4">
      <input class="form-control" type="text" name="experience" id="experience"
             placeholder="Experience (Total)" required="required"/>
      </div>
      <div class="col-md-4">
      <input class="form-control" type="text" name="currentemployer" id="currentemployer"
             placeholder="Current Employer" required="required"/>
      </div>
      <div class="col-md-4">
      <input class="form-control" type="text" name="designation" id="designation"
             placeholder="Designation" required="required"/>
      </div>
      <br><br>

      <div class="col-md-4">
      <input class="form-control" type="text" name="lsw" id="lsw"
             placeholder="Last Salary Withdrawn " required="required"/>
      </div>
      <div class="col-md-4">
      <input class="form-control" type="text" name="expectedsalary" id="expectedsalary"
             placeholder="Expected Salary" required="required"/>
      </div>
      <div class="col-md-4">
      <textarea class="form-control" type="text" name="remarks" id="remarks"
             placeholder="Remarks" required="required">Any other remarks?</textarea>
      </div>
      <br><br>

      <input type="file" name="file"/>
      <br>
      <input class="btn btn-success" type="submit" id="apply" value="Submit"/>

    </form>
  </div>
  <br/>
  <div class="alert alert-info" role="alert"><strong>Attention!</strong> Please fill all fields correctly, cannot edit after submit!</div>
  </div>
  </body>
</html>
